@import "tailwindcss";

html{
    scroll-behavior: smooth;

}

*{
    font-family: 'Quicksand', sans-serif;
}

h1,
h2,
h3,
.zilla-slab{
    font-family: 'Zilla Slab', serif;
}

.carousel__arrow {
    background: #160001;
    color: white;
    border: none; /* Remove default button border */
    border-radius: 50%;
    padding: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.carousel__arrow:hover {
    background-color: #2a0002; /* Optional hover state */
}